---
import Layout from "@/layouts/Layout.astro";
import { GenerateFlashcardsPage } from "@/components/generate/GenerateFlashcardsPage";
---

<Layout title="Generate Flashcards">
  <div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-6">Generate Flashcards</h1>
    <GenerateFlashcardsPage client:load />
  </div>
</Layout>
